    <head>
    <title>Kits-Heaven</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    </head>
    
        <body>
          <div class="site-wrap">
              <div class="site-navbar bg-white py-2">
      
                  <div class="container">
                      <div class="d-flex align-items-center justify-content-between">
                          <div class="logo">
                              <div class="site-logo">
                                  <a routerlink="/Home" class="js-logo-clone">Kits-Heaven</a>
                              </div>
                          </div>
                          <div class="main-nav d-none d-lg-block">
                              <nav class="site-navigation text-right text-md-center" role="navigation">
                                  <ul class="site-menu js-clone-nav d-none d-lg-block">
                                      <li class="has-children active">
                                          <a routerlink="/Home" class="text-primary">Home</a>
                                          <ul class="dropdown">
                                              <li><a routerlink="/Login" class="text-primary"> Login </a></li>
                                              <li><a routerlink="/Register" class="text-primary">Register account</a></li>
                                              <li><a routerlink="/Add-Product" class="text-primary"> Add Product </a></li>
                                              <li><button  class="text-primary"> Logout </button></li>
                                          </ul>
                                      </li>
      
                                      <li><a routerlink="/Shop">Shop</a></li>
                                      <li><a routerlink="/Cart">Cart</a></li>
                                      <li ><a routerlink="/Edit-Product">Edit Product</a></li>
      
                                  </ul>
                              </nav>
                          </div>
                          <div class="icons">
                              <a href="#" class="icons-btn d-inline-block"><span class="icon-heart-o"></span></a>
                              <a routerlink="/Cart" class="icons-btn d-inline-block bag">
                                  <span class="icon-shopping-bag"></span>
                                  <span class="number">0</span>
                              </a>
                              <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span class="icon-menu"></span></a>
                          </div>
                      </div>
                  </div>
              </div>
      
      
              <form id="form1" runat="server">
                <div class="site-section">
                    <div class="container">
                      <div class="title-section mb-5">
                        <h2 class="text-uppercase"><span class="d-block">Discover</span> The Collections</h2>
                      </div>
                      <div class="row align-items-stretch">
                        <div class="col-lg-8">
                          <div class="product-item sm-height full-height bg-gray">
                            <a routerlink="Shop" class="product-category"> EPL </a>
                            <img src="assets/images/epl.png" alt="Image" class="img-fluid">
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="product-item sm-height bg-gray mb-4">
                            <a href="shop.aspx?league='LaLiga'" class="product-category"> LaLiga </a>
                            <img src="assets/images/laliga.png" alt="Image" class="img-fluid">
                          </div>
                
                          <div class="product-item sm-height bg-gray">
                            <a href="shop.aspx?league='Bundesliga'" class="product-category"> Bundesliga </a>
                            <img src="assets/images/bundesliga.png" alt="Image" class="img-fluid">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                
              </form>
      
              <footer class="site-footer custom-border-top">
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-5 ml-auto mb-5 mb-lg-0">
                              <div class="row">
                                  <div class="col-md-12">
                                      <h3 class="footer-heading mb-4">Quick Links</h3>
                                  </div>
                                  <div class="col-md-6 col-lg-4">
                                      <ul class="list-unstyled">
                                          <li><a routerlink="Shop">Shop </a></li>
                                          <li><a routerlink="Cart">Shopping cart</a></li>
                                          <li><a routerlink="Checkout"> Checkout</a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
      
                          <div class="col-md-6 col-lg-3">
                              <div class="block-5 mb-5">
                                  <h3 class="footer-heading mb-4">Contact Info</h3>
                                  <ul class="list-unstyled">
                                      <li class="address">203 Richmond Ave., Auckland Park, Johannesburg, South Africa</li>
                                      <li class="phone"><a href="tel://27114259572">+2772 598 8745</a></li>
                                      <li class="email"> Sinfo</li>
                                  </ul>
                              </div>
      
                           
                          </div>
                      </div>
                      <div class="row pt-5 mt-5 text-center">
                          <div class="col-md-12">
                              <p>
                                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                  Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                                  All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i>by <a href="https://colorlib.com" target="_blank" class="text-primary">Colorlib</a>
                                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                              </p>
                          </div>
      
                      </div>
                  </div>
              </footer>
          </div>
      </body>